html {
	background: black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Titillium Web, Arial, sans-serif;
	text-transform: uppercase;
	color: #8acbf1;
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #8acbf1;
	padding: 0;
	margin-bottom: 3.9rem;
}
h2 {
	font-size: 2.8rem;
	color: #218a24;
	padding: 0;
}
h3 {
	color: #8acbf1;
	font-size: 2rem;
	background-color: #0c05e0;
	border-radius: 10px;
	padding: .5rem;
}
h4 {
	font-size: 1.4rem;
	color: #5a5692;
}
body {
	max-width: 1280px;
	font-family: Arial, Helvetica, serif;
	color: #8acbf1;
	font-size: 1.4rem;
	width: 100%;
	margin: 0rem auto;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	border: solid 6px #0c05e0;
	border-radius: 20px;
}
nav {
	box-sizing: border-box;
	background: #0C2A72;
	display: flex;
	justify-content: flex-end;
	max-width: 100vw;
	top: 0;
	margin: .4rem;
	margin-bottom: 0px;
	padding: 0rem;
	justify-content: space-between;
	align-items: flex-end; 
	border: solid 6px #0c05e0;
	border-radius: 20px;
}

ul {
	padding-left: 0;
	margin-right: 10px;
	margin-left: 0;
}
ul li {
	display: inline;
	padding-right: 0.3rem;
	margin-left: 0;
}

a {
	color: black;
	font-family: Titillium Web, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #98fa63;
	padding: 5px 25px;
	border-radius: 10px;
}
a:hover {
	color: black;
	background-color: red;
}
a:active {
	color: white;
	background-color: red;
}
a:focus {
	color: white;
	background-color: #218a24;
}

main {
	box-sizing: border-box;
	max-width: 1280px;
	margin: auto;
	margin-top: 0;
	clear: both;
}
header {
	margin: .4rem;
	margin-top: 1rem;
	padding: 0;
	padding-bottom: .5rem;
	padding-left: 1rem;
	border: solid 6px #0c05e0;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
section {
	margin: .4rem;
	margin-top: .6rem;
	border: solid 6px #0c05e0;
}
footer {
	color: #8acbf1;
	background: #0C2A72;
	margin: .4rem;
	margin-bottom: .8rem;
	margin-top: .6rem;
	padding: 0;
	padding-left: 1rem;
	border: solid 6px #0c05e0;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
hr {
	border: 6px solid #0c05e0;
	margin-bottom: 2rem;
	margin-left: -1rem;
	margin-right: -1rem;
}
ul {
	list-style-type: square;
}
.bulletlogo {
	width: auto;
	height: 9rem;
	border: solid 6px #0c05e0;
	border-radius: 20px;
	margin: -6px;
}
.indexheader {
	box-sizing: border-box;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: -1.2rem;
	margin-left: -1.2rem;
	padding-top: 18.5%;
	padding-bottom: 1%;
	background-image: url(../images/background1.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	}
.head-shot {
	width: auto;
	height: 15rem;
	float: left;
	margin: 5px;
	margin-right: 1rem;
}
	/*cheat code to prevent stuff below from bleeding into float area*/
.cf:before,.cf:after {
	content: " "; 
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}

.text {
	padding: 1rem;
	border: solid 6px #0c05e0;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.favorite-list {
	padding: 1rem;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	padding-top: 0rem;
	padding-bottom: 8rem;
}
.portfolio-tag {
	margin-bottom: 2rem;
	flex: 1 1 200px;
	text-align: center;
}

figure {
	width: 40rem;
	height: 20rem;
	padding: 0;
	margin: 0;
	margin-top: 3.1rem;
	margin-bottom: -3.5rem;
}

.portfolio-tag img {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	max-width: 40rem;
	height: 20rem;
	width: 26.4rem;
	margin: 1rem;
	margin-top: 2rem;
}
figcaption {
	font-size: 1.4rem;
	color:  #8acbf1;
	display: inline-block;
	background-color: #0C2A72;
	text-align: center;
	padding: 1.3rem;
	margin-top: .5rem;
	margin-bottom: 0;
	position: relative;
	width: 23.05rem;
	top: -5.5rem;
	left: 0rem;
	border: solid 6px #0c05e0;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}


.portfolio-tag p {
	text-align: center;
	margin-top: 0;
	margin-bottom: 3rem;
}
.noborder-pic {
	border: none;
}


.portfolio a {
	color:  #8acbf1;
	font-family: Titillium Web, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	background-color: transparent;
	padding: 0;
	border-radius: 10px;
}

.portfolio a:hover {
	color: red;
	background-color: transparent;
}
.portfolio a:active {
	color: white;
	background-color: transparent;
}
.portfolio a:focus {
	color: white;
	background-color: transparent;
}

@media (max-width: 768px) { 
	.zap {
		display: none;
	}
	nav h1 {
		margin-top:;
		margin-left: .3rem;
		margin-right: .1rem;
	}
	ul li {
		display: block;
		margin-bottom: 1.9rem;
	}


}